div {
    color: black;
    background-color: yellowgreen;
    width: 200px;
    text-align: center;
    margin: 10px;
}

div.one, .three, .five  {
    background-color: brown;
}

div.two, .four, .six {
    background-color: antiquewhite;
}