div {
    color: black;
    background-color: yellowgreen;
    width: 220 px;
    text-align: center;
    padding: 25px;
}

div.one, .three, .five  {
    background-color: brown;
}

div.two, .four, .six {
    background-color: antiquewhite;
}